.pm-green-btn{
  color: #fff;
}


.upcomming-appointments{
  background: linear-gradient(134deg, #5e9cd3 0%, #3773a9 100%);
}
.chats-section-heading{
  background: linear-gradient(134deg, #A0D256 0%, #77AC28 100%);
}