* {
  font-family: "poppins";
}

p,
h1,
h2,
h3,
h3,
h5,
h6 {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
}

.txt__green {
  color: #77ac28;
  font-size: 50px;
  font-family: "poppins";
  font-weight: 600;
}
textarea {
  resize: none;
}

.cursor-pointer {
  cursor: pointer;
}

.back_button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.files-input-label {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #243d4c 2px dashed !important;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  /* FiUpload */
}

.txt__blue {
  color: #243d4c;
}
.txt__red {
  color: red;
}
.react-datepicker-wrapper {
  display: block !important;
  cursor: pointer !important;
}

.heading__bg {
  position: relative;
}

.heading__bg .overlap {
  text-align: center;
}

.heading__bg .rectangle {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  font-size: 50px !important;
  font-weight: 600 !important;
  line-height: 67px;
  text-transform: capitalize !important;
  color: #243d4c;
}

h3 {
  color: #243d4c;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

h5 {
  color: #243d4c;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.select_doctor_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 347px;
  padding: 10% 20%;
  border-radius: 17px;
  border: 1px solid rgba(174, 176, 208, 0.5);
}
.doctor_card_btn {
  width: 100%;
  border: none;
  background-color: #fff;
  color: rgba(55, 115, 169, 1);
  border-radius: 12px;
  border: 1px solid rgba(55, 115, 169, 1);
  padding: 18px 35px;
}
.header_section_1 {
  display: flex;
  justify-content: space-between;
}
.header_section_2 {
  display: flex;
  gap: 20px;
}
.detail_btn {
  background: linear-gradient(167.39deg, #5e9cd3 0%, #3773a9 100.87%);
  padding: 19px 25px;
  color: white;
  border: none;
  border-radius: 10px;
}
.header_card {
  height: 81px;
  border-radius: 10px;
  box-shadow: 0px -24.75px 48.375px 0px rgba(154, 178, 194, 0.06);
  background: rgba(36, 61, 76, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.b_text {
  font-size: 18px;
  font-weight: 600;
  color: rgba(36, 61, 76, 1);
}
.n_text {
  font-size: 12px;
  font-weight: 400;
  color: rgba(36, 61, 76, 1);
}
.detail_info {
  display: flex;
  gap: 40px;
}
.box_heading {
  font-size: 16px;
  font-weight: 600;
  color: rgba(36, 61, 76, 1);
}
.info_img {
  height: 40px;
  width: 40px;
  padding: 10px;
  background: rgba(55, 115, 169, 0.1);
  border-radius: 10px;
  margin-right: 10px;
}
.light_text {
  font-size: 14px;
  font-weight: 400;
  color: rgba(36, 61, 76, 0.6);
}
.certificate_box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}
.cer_img {
  height: 126px;
  width: 160px;
  border-radius: 15px;
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #243d4c;
}

html,
body {
  background-color: #f6fafd;
  overflow-x: hidden;
}

.heading {
  color: #243d4c;
  text-align: center;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* ... */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 20px !important;
  }

  h4,
  h5,
  p {
    font-size: 18px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 767px) {
  h1,
  h2 {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 40px !important;
    text-transform: capitalize !important;
    color: #243d4c;
  }

  h2 {
    line-height: 32px !important;
    font-size: 26px !important;
  }

  h4,
  h5,
  p {
    font-size: 16px !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.flex {
  display: flex;
}

@media screen and (max-width: 756px) {
  .mobile-flex {
    flex-direction: column;
  }
}
